# Ignore PowerShell script for synchronization
sync.ps1

# Ignore symbolic link files
*.symlink
minescript
new_minescript

# Ignore Visual Studio Code settings
.vscode/settings.json

config.txt

*.pyc
remote_minescript/system/lib/__pycache__/

.env